body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* cabeçalho */
header{
    background-color: #101111;
    height: auto;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-centralizar{
    background-color: #24bdbd;
    width: 80%;
    align-content: center;
    margin: 0 auto;
}
.logo{
    background-color: blue;
    float: inline-start;
    width: 15%;
    text-align: center;
}
.logo img{
    height: 90px;
}
.paginas{
    background-color: red;
    float: inline-end;
    width: 85%;
    text-align: center;
}
.paginas a{
    text-decoration: none;
    color: white;
}
#Home, #Sobre, #Restaurantes{
    margin-right: 40px;
}
.logo, .paginas{
    display: block;
    height: 100%;
}
/* rodapé */
footer{
    background-color: #101111;
    height: auto;
    align-content: center;
    color: white;
}
.dev{
    text-align: center;
    color: #616161;
}
.dev a{
    color: #868686;
    text-decoration: none;
}
.centralizar{
    width: 60%;
    align-content: center;
    margin: 0 auto;
}
.esquerda{
    float: inline-start;
}
.direita{
    float: inline-end;
}
.esquerda, .direita{
    display: block;
    height: 100%;
}
.esquerda p, .direita p{
    margin-bottom: 6px;
}
.esquerda a, .direita a{
    text-decoration: none;
    color: white;
}