body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #101111;
    text-align: center;
    color: white;
}
.header-itens{
    display: inline-block;
}
.logo{
    align-content: center;
}
.logo img{
    height: 80px;
    padding-top: 15px;
}
.nav{
    height: 50px;
    align-content: center;
}
.nav a{
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
main{
    background-color: green;
}
footer{
    background-color: #101111;
    height: 32vh;
    align-content: center;
    color: white;
}
.dev{
    text-align: center;
    color: #616161;
}
.dev a{
    color: #868686;
    text-decoration: none;
}
.centralizar{
    width: 60%;
    align-content: center;
    margin: 0 auto;
}
.esquerda{
    float: inline-start;
}
.direita{
    float: inline-end;
}
.esquerda, .direita{
    display: block;
    height: 100%;
    align-content: center;
}
.esquerda ul, .direita ul{
    list-style: none;
}
.esquerda li, .direita li{
    margin-bottom: 8px;
}
.esquerda a, .direita a{
    text-decoration: none;
    color: white;
}