body{
    background-color: #1A1A19;
    font-family: Arial, Helvetica, sans-serif;
}
.centralizar{
    display: grid;
    justify-items: center;
    background-color: #F6FCDF;
    width: 50%;
    margin-left: 25%;
    margin-left: 25%;
    border-radius: 24px;
    border: 3px solid #31511E;
}
.foto_perfil{
    width: 250px;
    height: 250px;
}
h1{
    font-family: cursive;
    font-style: italic;
}
.bio{
    width: 80%;
}
.insta{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 25px;
}