/* banner */
.banner img{
    width: 100%;
}
/* sessão - motivos para investir */
.sessao-motivos{
    width: 80%;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.sessao-motivos h3{
    font-size: 22px;
    margin-bottom: 30px;
}
.card1, .card2, .card3{
    width: 33%;
    display: inline-block;
}
.card1 img, .card2 img, .card3 img{
    width: 50%;
}
.card1 h5, .card2 h5, .card3 h5{
    font-size: 18px;
}
/* sessão - quem somos */
.quemsomos{
    width: 80%;
    align-content: center;
    margin: 0 auto;
    margin-top: 40px;
    color: black;
}
.quemsomos-imagem{
    width: 45%;
    display: block;
    float: inline-start;
}
.quemsomos-imagem img{
    width: 100%;
    height: auto;
}
.quemsomos-texto{
    width: 50%;
    display: block;
    float: inline-end;
}
.quemsomos-texto a{
    text-decoration: none;
    color: black;
}
.quemsomos-texto h3{
    font-size: 22px;
    margin-bottom: 30px;
}
.quemsomos-texto button{
    width: 100px;
    height: 30px;
    background-color: rgb(233, 197, 153);
    border: none;
    border-radius: 25px;
    color: black;
}
.quemsomos-texto button:hover{
    background-color: rgb(248, 220, 183);
    cursor: pointer;
}
/* sessão - nossos restaurantes */
.nossos-restaurantes{
    width: 80%;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.restaurante{
    width: 30%;
    display: inline-block;
}
.restaurante img{
    width: 90%;
}
.restaurante a, .nossos-restaurantes a{
    text-decoration: none;
    color: black;
}
.restaurante a:hover{
    font-weight: bold;
    color: black;
}